.logo {
    color: var(--active-color);
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.908rem;
    letter-spacing: 0.03em;
    width: auto;
    margin: 0;
    margin-left: 15px;
    @media screen and (min-width: 1200px) {
      font-size: 26px;
    }
  }
  .header__logo {
    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }
    &--color{
      color: var(--logo-color);
    }
  }
  
  .footer__logo {
    margin-bottom: 20px;
    &--color{
      color: var(--brand-color);
    }
    }
 